

<%- include("partials/header"); -%>
<div class=effect">
<h2><%=title%></h2>

<div class="card">
   <div class="card-header text-white" style="background-color: #00AA9E;"><h4><%=title%></h4></div>
  <div class="card-body">

    <p class="card-text"><%=content%></p>

  </div>
 <div class="card-footer">


      <form action="/discuss/posts/<%=postid%>/?_method=DELETE" method="POST">
             <p align="right">
            <button class=" bu"><i class="fas fa-trash icon-ba" style="font-size:20px;"><span style="color:black">Delete</span></i></button>
          </p>

      </form>
 </div>
</div>
<br />
<br />
<h3 style="color:blue"><img src="/comments-48x48.png" />Comments(<%=comm.length%>)</h3>
   <div>


  <%  comm.forEach(function(comments){ %>

    <div class="card" style="margin-left:10px;margin-top:10px ">

      <div class="card-body ">

          <%-  comments.comment -%>
             <p class="card-text" style="text-align:right;color:blue;font-size:10px"><%=comments.time%></p>

    </div>
    </div>
<br />
  <% }) %>
 </div>
 <div>


 <form class="" action="/discuss/posts/<%=postid%>" method="post">


     <h3><label>Post a new comment</label></h3>
     <textarea class="form-control" name="comment" rows="5" cols="30"></textarea>

   <button class="btn btn-primary" type="submit" name="buttonc">Post</button>
 </form>
 </div>
<br />
<br />

</div>
</div>
</div>


<%- include("partials/footer"); -%>
