<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/fysytyfy.css">

<center class="mt-1">
    <div class="alert alert-info col-sm-4 mb-2" role="alert">
        Seventh Semester
    </div>
</center>

<div class="container">
    <div class="row inc btc f1-box">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-2 imgd">
        </div>
        <div class="col-sm-1" style="border-right: 1px solid rgb(187, 184, 184)">
        </div>
        <div class="col-sm-1" style="border-left: 1px solid rgb(187, 184, 184)">
        </div>
        <div class="col-sm-2 imgd">
        </div>
        <div class="col-sm-1" style="border-right: 0px solid rgb(187, 184, 184)">
        </div>
        <div class="col-sm-1" style="border-left: 2px solid rgb(187, 184, 184)">
        </div>
        <div class="col-sm-2 imgd">
        </div>
        <div class="col-sm-1">
        </div>
        
    </div>
    <div class="row f2-box">
        <div class="col-sm-4 inc btc2">
            Elective-1 (E7-1)
        </div>
        <div class="col-sm-4 inc btc2">
            Elective-2 (E7-2)
        </div>
        <div class="col-sm-4 inc btc2">
            Major Project (MP)
        </div>
    </div>
    <div class="row f-box">
        <div class="col-sm-4 t-border">
            <!-- looping for extracting i.text -->
            <ul style="padding: 0px 20px;">
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="E7-1"){ %> 
                        
                        <li style="color: rgb(1, 131, 1);text-decoration: underline; word-break: break-all;"><%= crudf[i].type_title %></li>
                        
                        <% if(crudf[i].type==='1'){ %>
                            <p style="word-break: break-all;font-size: 0.8rem;"><%= crudf[i].text %></p>
                        <% }else{ %>
                            <a style="word-break: break-all;font-size: 0.8rem;" target="_blank" href="<%= crudf[i].text %>"><%= crudf[i].text %></a>
                        <% } %> 
                    
                    <% } %> 
                <% } %> 
            </ul>
        </div>
        <div class="col-sm-4 t-border">
            <ul style="padding: 0px 20px;">
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="E7-2"){ %> 
                        
                        <li style="color: rgb(1, 131, 1);text-decoration: underline; word-break: break-all;"><%= crudf[i].type_title %></li>
                        
                        <% if(crudf[i].type==='1'){ %>
                            <p style="word-break: break-all;font-size: 0.8rem;"><%= crudf[i].text %></p>
                        <% }else{ %>
                            <a style="word-break: break-all;font-size: 0.8rem;" target="_blank" href="<%= crudf[i].text %>"><%= crudf[i].text %></a>
                        <% } %> 
                    
                    <% } %> 
                <% } %> 
            </ul>
        </div>
        <div class="col-sm-4 t-border">
            <ul style="padding: 0px 20px;">
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="MP"){ %> 
                        
                        <li style="color: rgb(1, 131, 1);text-decoration: underline; word-break: break-all;"><%= crudf[i].type_title %></li>
                        
                        <% if(crudf[i].type==='1'){ %>
                            <p style="word-break: break-all;font-size: 0.8rem;"><%= crudf[i].text %></p>
                        <% }else{ %>
                            <a style="word-break: break-all;font-size: 0.8rem;" target="_blank" href="<%= crudf[i].text %>"><%= crudf[i].text %></a>
                        <% } %> 
                    
                    <% } %> 
                <% } %> 
            </ul>
        </div>
    </div>
</div>

<center class="mt-4">
    <div class="alert alert-info col-sm-4 mb-2" role="alert">
        Eight Semester
    </div>
</center>

<div class="container">
    <div class="row inc f1-box btc">
        <div class="col-sm-2 imgd" style="margin: 0px auto;">
        </div>
    </div>
    <div class="row f2-box">
        <div class="col-sm-12 inc btc2">
            Major Project / Internship (MPI)
        </div>
    </div>

    <div class="row f-box">
        <div class="col-sm-12 t-border">
            <!-- looping for extracting i.text -->
            <ul style="padding: 0px 20px;">
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="MPI"){ %> 
                        
                        <li style="color: rgb(1, 131, 1);text-decoration: underline; word-break: break-all;"><%= crudf[i].type_title %></li>
                        
                        <% if(crudf[i].type==='1'){ %>
                            <p style="word-break: break-all;font-size: 0.8rem;"><%= crudf[i].text %></p>
                        <% }else{ %>
                            <a style="word-break: break-all;font-size: 0.8rem;" target="_blank" href="<%= crudf[i].text %>"><%= crudf[i].text %></a>
                        <% } %> 
                    
                    <% } %> 
                <% } %> 
            </ul>
        </div>
    </div>
</div>
