<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/fysytyfy.css">

<center class="mt-1">
    <div class="alert alert-info col-sm-4 mb-2" role="alert">
        Third Semester
    </div>
</center>

<div class="container">
    <div class="row inc f1-box">
        <div class="col-sm-2 btc img5">
        </div>
        <div class="col-sm-2 btc imgd">
        </div>
        <div class="col-sm-2 btc imgd">
        </div>
        <div class="col-sm-2 btc img4">
        </div>
        <div class="col-sm-2 btc img8">
        </div>
        <div class="col-sm-2 btc img9">
        </div>
    </div>
    <div class="row f2-box">
        <div class="col-sm-2 inc btc2">
            Probability and Random Process (PRP)
        </div>
        <div class="col-sm-2 inc btc2">
            Analysis & Design of Algorithm (ADA)
        </div>
        <div class="col-sm-2 inc btc2">
            Computer Organization and Architecture (COA)
        </div>
        <div class="col-sm-2 inc btc2">
            Theory of computation (TOC)
        </div>
        <div class="col-sm-2 inc btc2">
            Database Management System (DBMS)
        </div>
        <div class="col-sm-2 inc btc2">
            Python programming (PP)
        </div>
    </div>
    <div class="row f-box">
        <div class="col-sm-2 t-border">
            <!-- looping for extracting i.text -->
            <ul style="padding: 0px 20px;">
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="PRP"){ %> 
                        
                        <li style="color: rgb(1, 131, 1);text-decoration: underline; word-break: break-all;"><%= crudf[i].type_title %></li>
                        
                        <% if(crudf[i].type==='1'){ %>
                            <p style="word-break: break-all;font-size: 0.8rem;"><%= crudf[i].text %></p>
                        <% }else{ %>
                            <a style="word-break: break-all;font-size: 0.8rem;" target="_blank" href="<%= crudf[i].text %>"><%= crudf[i].text %></a>
                        <% } %> 
                    
                    <% } %> 
                <% } %> 
            </ul>
        </div>
        <div class="col-sm-2 t-border">
            <ul style="padding: 0px 20px;">
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="ADA"){ %> 
                        
                        <li style="color: rgb(1, 131, 1);text-decoration: underline; word-break: break-all;"><%= crudf[i].type_title %></li>
                        
                        <% if(crudf[i].type==='1'){ %>
                            <p style="word-break: break-all;font-size: 0.8rem;"><%= crudf[i].text %></p>
                        <% }else{ %>
                            <a style="word-break: break-all;font-size: 0.8rem;" target="_blank" href="<%= crudf[i].text %>"><%= crudf[i].text %></a>
                        <% } %> 
                    
                    <% } %> 
                <% } %> 
            </ul>
        </div>
        <div class="col-sm-2 t-border">
            <ul style="padding: 0px 20px;">
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="COA"){ %> 
                        
                        <li style="color: rgb(1, 131, 1);text-decoration: underline; word-break: break-all;"><%= crudf[i].type_title %></li>
                        
                        <% if(crudf[i].type==='1'){ %>
                            <p style="word-break: break-all;font-size: 0.8rem;"><%= crudf[i].text %></p>
                        <% }else{ %>
                            <a style="word-break: break-all;font-size: 0.8rem;" target="_blank" href="<%= crudf[i].text %>"><%= crudf[i].text %></a>
                        <% } %> 
                    
                    <% } %> 
                <% } %> 
            </ul>
        </div>
        <div class="col-sm-2 t-border">
            <ul style="padding: 0px 20px;">
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="TOC"){ %> 
                        
                        <li style="color: rgb(1, 131, 1);text-decoration: underline; word-break: break-all;"><%= crudf[i].type_title %></li>
                        
                        <% if(crudf[i].type==='1'){ %>
                            <p style="word-break: break-all;font-size: 0.8rem;"><%= crudf[i].text %></p>
                        <% }else{ %>
                            <a style="word-break: break-all;font-size: 0.8rem;" target="_blank" href="<%= crudf[i].text %>"><%= crudf[i].text %></a>
                        <% } %> 
                    
                    <% } %> 
                <% } %> 
            </ul>
        </div>
        <div class="col-sm-2 t-border">
            <ul style="padding: 0px 20px;">
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="DBMS"){ %> 
                        
                        <li style="color: rgb(1, 131, 1);text-decoration: underline; word-break: break-all;"><%= crudf[i].type_title %></li>
                        
                        <% if(crudf[i].type==='1'){ %>
                            <p style="word-break: break-all;font-size: 0.8rem;"><%= crudf[i].text %></p>
                        <% }else{ %>
                            <a style="word-break: break-all;font-size: 0.8rem;" target="_blank" href="<%= crudf[i].text %>"><%= crudf[i].text %></a>
                        <% } %> 
                    
                    <% } %> 
                <% } %> 
            </ul>
        </div>
        <div class="col-sm-2 t-border">
            <ul style="padding: 0px 20px;">
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="PP"){ %> 
                        
                        <li style="color: rgb(1, 131, 1);text-decoration: underline; word-break: break-all;"><%= crudf[i].type_title %></li>
                        
                        <% if(crudf[i].type==='1'){ %>
                            <p style="word-break: break-all;font-size: 0.8rem;"><%= crudf[i].text %></p>
                        <% }else{ %>
                            <a style="word-break: break-all;font-size: 0.8rem;" target="_blank" href="<%= crudf[i].text %>"><%= crudf[i].text %></a>
                        <% } %> 
                    
                    <% } %> 
                <% } %> 
            </ul>
        </div>
    </div>
</div>

<center class="mt-4">
    <div class="alert alert-info col-sm-4 mb-2" role="alert">
        Fourth Semester
    </div>
</center>

<div class="container">
    <div class="row f1-box inc">
        <div class="col-sm-2 btc img4">
        </div>
        <div class="col-sm-2 btc img10">
        </div>
        <div class="col-sm-2 btc img8">
        </div>
        <div class="col-sm-2 btc img4">
        </div>
        <div class="col-sm-2 btc img1">
        </div>
        <div class="col-sm-2 btc imgd">
        </div>
    </div>

    <div class="row f2-box">
        <div class="col-sm-2 inc btc2">
            Computer Network (CN)
        </div>
        <div class="col-sm-2 inc btc2">
            Artificial Intelligence (AI)
        </div>
        <div class="col-sm-2 inc btc2">
            Operating System (OS)
        </div>
        <div class="col-sm-2 inc btc2">
            Compiler Design (CD)
        </div>
        <div class="col-sm-2 inc btc2">
            Discrete Structure (DS)
        </div>
        <div class="col-sm-2 inc btc2">
            Java Programming (JP)
        </div>
    </div>
    <div class="row f-box">
        <div class="col-sm-2 t-border">
            <!-- looping for extracting i.text -->
            <ul style="padding: 0px 20px;">
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="CN"){ %> 
                        
                        <li style="color: rgb(1, 131, 1);text-decoration: underline; word-break: break-all;"><%= crudf[i].type_title %></li>
                        
                        <% if(crudf[i].type==='1'){ %>
                            <p style="word-break: break-all;font-size: 0.8rem;"><%= crudf[i].text %></p>
                        <% }else{ %>
                            <a style="word-break: break-all;font-size: 0.8rem;" target="_blank" href="<%= crudf[i].text %>"><%= crudf[i].text %></a>
                        <% } %> 
                    
                    <% } %> 
                <% } %> 
            </ul>
        </div>
        <div class="col-sm-2 t-border">
            <ul style="padding: 0px 20px;">
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="AI"){ %> 
                        
                        <li style="color: rgb(1, 131, 1);text-decoration: underline; word-break: break-all;"><%= crudf[i].type_title %></li>
                        
                        <% if(crudf[i].type==='1'){ %>
                            <p style="word-break: break-all;font-size: 0.8rem;"><%= crudf[i].text %></p>
                        <% }else{ %>
                            <a style="word-break: break-all;font-size: 0.8rem;" target="_blank" href="<%= crudf[i].text %>"><%= crudf[i].text %></a>
                        <% } %> 
                    
                    <% } %> 
                <% } %> 
            </ul>
        </div>
        <div class="col-sm-2 t-border">
            <ul style="padding: 0px 20px;">
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="OS"){ %> 
                        
                        <li style="color: rgb(1, 131, 1);text-decoration: underline; word-break: break-all;"><%= crudf[i].type_title %></li>
                        
                        <% if(crudf[i].type==='1'){ %>
                            <p style="word-break: break-all;font-size: 0.8rem;"><%= crudf[i].text %></p>
                        <% }else{ %>
                            <a style="word-break: break-all;font-size: 0.8rem;" target="_blank" href="<%= crudf[i].text %>"><%= crudf[i].text %></a>
                        <% } %> 
                    
                    <% } %> 
                <% } %> 
            </ul>
        </div>
        <div class="col-sm-2 t-border">
            <ul style="padding: 0px 20px;">
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="CD"){ %> 
                        
                        <li style="color: rgb(1, 131, 1);text-decoration: underline; word-break: break-all;"><%= crudf[i].type_title %></li>
                        
                        <% if(crudf[i].type==='1'){ %>
                            <p style="word-break: break-all;font-size: 0.8rem;"><%= crudf[i].text %></p>
                        <% }else{ %>
                            <a style="word-break: break-all;font-size: 0.8rem;" target="_blank" href="<%= crudf[i].text %>"><%= crudf[i].text %></a>
                        <% } %> 
                    
                    <% } %> 
                <% } %> 
            </ul>
        </div>
        <div class="col-sm-2 t-border">
            <ul style="padding: 0px 20px;">
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="DS"){ %> 
                        
                        <li style="color: rgb(1, 131, 1);text-decoration: underline; word-break: break-all;"><%= crudf[i].type_title %></li>
                        
                        <% if(crudf[i].type==='1'){ %>
                            <p style="word-break: break-all;font-size: 0.8rem;"><%= crudf[i].text %></p>
                        <% }else{ %>
                            <a style="word-break: break-all;font-size: 0.8rem;" target="_blank" href="<%= crudf[i].text %>"><%= crudf[i].text %></a>
                        <% } %> 
                    
                    <% } %> 
                <% } %> 
            </ul>
        </div>
        <div class="col-sm-2 t-border">
            <ul style="padding: 0px 20px;">
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="JP"){ %> 
                        
                        <li style="color: rgb(1, 131, 1);text-decoration: underline; word-break: break-all;"><%= crudf[i].type_title %></li>
                        
                        <% if(crudf[i].type==='1'){ %>
                            <p style="word-break: break-all;font-size: 0.8rem;"><%= crudf[i].text %></p>
                        <% }else{ %>
                            <a style="word-break: break-all;font-size: 0.8rem;" target="_blank" href="<%= crudf[i].text %>"><%= crudf[i].text %></a>
                        <% } %> 
                    
                    <% } %> 
                <% } %> 
            </ul>
        </div>
    </div>
</div>
<br>
