<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/fysytyfy.css">

<center class="mt-1">
    <div class="alert alert-info col-sm-4 mb-2" role="alert">
        Fifth Semester
    </div>
</center>

<div class="container">
    <div class="row inc f1-box">
        <div class="col-sm-2 btc img6">
        </div>
        <div class="col-sm-2 btc imgd">
        </div>
        <div class="col-sm-2 btc imgd">
        </div>
        <div class="col-sm-2 btc imgd">
        </div>
        <div class="col-sm-2 btc img1">
        </div>
        <div class="col-sm-2 btc imgd">
        </div>
    </div>
    <div class="row f2-box">
        <div class="col-sm-2 inc btc2">
            Machine Learning (ML)
        </div>
        <div class="col-sm-2 inc btc2">
            Interactive Design (ID)
        </div>
        <div class="col-sm-2 inc btc2">
            Cryptography and Network Security (CNS)
        </div>
        <div class="col-sm-2 inc btc2">
            Software Engineering (SE)
        </div>
        <div class="col-sm-2 inc btc2">
            Linear Nonlinear Optimization (LNO)
        </div>
        <div class="col-sm-2 inc btc2">
            Elective-1 (E5-1)
        </div>
    </div>
    <div class="row f-box">
        <div class="col-sm-2 t-border">
            <!-- looping for extracting i.text -->
            <ul>
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="ML"){ %> 
                    <li><%= crudf[i].text %></li>
                    <% } %> 
                <% } %> 
            </ul>
        </div>
        <div class="col-sm-2 t-border">
            <ul>
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="ID"){ %> 
                    <li><%= crudf[i].text %></li>
                    <% } %> 
                <% } %> 
            </ul>
        </div>
        <div class="col-sm-2 t-border">
            <ul>
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="CNS"){ %> 
                    <li><%= crudf[i].text %></li>
                    <% } %> 
                <% } %> 
            </ul>
        </div>
        <div class="col-sm-2 t-border">
            <ul>
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="SE"){ %> 
                    <li><%= crudf[i].text %></li>
                    <% } %> 
                <% } %> 
            </ul>
        </div>
        <div class="col-sm-2 t-border">
            <ul>
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="LNO"){ %> 
                    <li><%= crudf[i].text %></li>
                    <% } %> 
                <% } %> 
            </ul>
        </div>
        <div class="col-sm-2 t-border">
            <ul>
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="E5-1"){ %> 
                    <li><%= crudf[i].text %></li>
                    <% } %> 
                <% } %> 
            </ul>
        </div>
    </div>
</div>

<center class="mt-4">
    <div class="alert alert-info col-sm-4 mb-2" role="alert">
        Sixth Semester
    </div>
</center>

<div class="container">
    <div class="row inc f1-box">
        <div class="col-sm-2 btc imgd">
        </div>
        <div class="col-sm-2 btc imgd">
        </div>
        <div class="col-sm-2 btc imgd">
        </div>
        <div class="col-sm-2 btc imgd">
        </div>
        <div class="col-sm-2 btc imgd">
        </div>
        <div class="col-sm-2 btc imgd">
        </div>
    </div>
    <div class="row f2-box">
        <div class="col-sm-2 inc btc2">
            Internet of Things (IOT)
        </div>
        <div class="col-sm-2 inc btc2">
            Computer Graphics (CG)
        </div>
        <div class="col-sm-2 inc btc2">
            Cloud Computing (CC)
        </div>
        <div class="col-sm-2 inc btc2">
            Elective-1 (E6-1)
        </div>
        <div class="col-sm-2 inc btc2">
            Elective-2 (E6-2)
        </div>
        <div class="col-sm-2 inc btc2">
            Elective-3 (E6-3)
        </div>
    </div>
    <div class="row f-box">
        <div class="col-sm-2 t-border">
            <!-- looping for extracting i.text -->
            <ul>
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="IOT"){ %> 
                    <li><%= crudf[i].text %></li>
                    <% } %> 
                <% } %> 
            </ul>
        </div>
        <div class="col-sm-2 t-border">
            <ul>
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="CG"){ %> 
                    <li><%= crudf[i].text %></li>
                    <% } %> 
                <% } %> 
            </ul>
        </div>
        <div class="col-sm-2 t-border">
            <ul>
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="CC"){ %> 
                    <li><%= crudf[i].text %></li>
                    <% } %> 
                <% } %> 
            </ul>
        </div>
        <div class="col-sm-2 t-border">
            <ul>
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="E6-1"){ %> 
                    <li><%= crudf[i].text %></li>
                    <% } %> 
                <% } %> 
            </ul>
        </div>
        <div class="col-sm-2 t-border">
            <ul>
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="E6-2"){ %> 
                    <li><%= crudf[i].text %></li>
                    <% } %> 
                <% } %> 
            </ul>
        </div>
        <div class="col-sm-2 t-border">
            <ul>
                <% for(let i=crudf.length-1;i>=0;i--){ %>
                    <% if(crudf[i].subject==="E6-3"){ %> 
                    <li><%= crudf[i].text %></li>
                    <% } %> 
                <% } %> 
            </ul>
        </div>
    </div>
</div>
